.product{
    background-color: rgb(252,229,216);
    display: flex;
    gap: 20px;
    padding: 30px;
}
.hng{
    color: rgb(129,113,135);
    text-align: left;
    padding: 10px 0px 20px 0px;
}
.line{
    width: 2px;
    background-color: rgb(129,113,135);
}
.link{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: black;
    background-color: rgb(255,243,242);
    margin-top: 40px;
    position: relative;
}
.link>:last-child{
    font-size: 20px;
}
.link:hover{
    animation-name: wave-out;
    animation-duration: 1s;
    background-color: rgb(247,216,243);
}
@keyframes wave-out {
    0%   {background-color: rgb(255,243,242)}
    100% {background-color: rgb(247,216,243)}
}



@media all and (max-width:800px){
    .product{
        flex-direction: column;
    }
}